# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/

# Visual Studio
.vs/
.vscode/

# User-specific files
*.userprefs

# Azure
local.settings.json
.env
appsettings.json
